<div>
  <%= form_with(model: @category, local: true) do |f| %>
    <div>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Category Name" %>
      </p>
    </div>
    <div>
      <p>
        <%= f.submit %>
      </p>
    </div>
  <% end %>
</div>
