<h1 class="center-align">Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <div class="center-align row">
    <span><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
  </div>
<% end %>

<%= render 'category_listing' %>

<div class="apple_pagination">
    <%= will_paginate @category_recipes, :container => false %>
</div>
