<footer class="pv4 ph3 ph5-m ph6-l mid-gray bg-black w-100 fl">
  <small class="f6 db tc white-70">© 2020, created by <a href="https://github.com/Rawgher" class="link dim white-70" target="_blank"><b class="ttu">Rawgher</b></a></small>
</footer>
